@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

.spacer {
  aspect-ratio: 690/300;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.layer1 {
  background-image: url('/wave.svg');
}

@layer base {
  body {
    @apply font-sndFont;
  }
}

html,
body {
  scroll-behavior: smooth;
}
